@use '../../styles/abstracts';

.libraryBookCard {
  &:hover {
    a {
      color: abstracts.$slate-950;
    }

    p {
      color: abstracts.$slate-500;
    }

    .libraryBookCard_thumbnail {
      outline: 6px solid abstracts.$slate-300;
      transform: scale(0.985);
    }
  }

  &_thumbnail {
    padding: 0;
    border-radius: 1rem;
    overflow: hidden;
    outline: 5px solid abstracts.$slate-200;

    img {
      display: block;
      width: 100%;
    }
  }

  &_info {
    padding-top: 0.5rem;

    h3 {
      color: abstracts.$slate-500;
      padding-bottom: 0.5rem;
      font-weight: 700;
    }
    p {
      color: abstracts.$slate-400;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}
