@use '../../styles/abstracts';

.libraryError {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    width: 100%;
    max-width: 50rem;
  }

  h3 {
    font-size: 1.5rem;
    color: abstracts.$slate-500;
  }
}
