@mixin spinner($width, $color) {
  width: $width;
  aspect-ratio: 1/1;
  color: $color;
  background: linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0), linear-gradient(currentColor 0 0);
  background-size: 42px 42px;
  background-repeat: no-repeat;
  animation: sh5 3s infinite cubic-bezier(0.3, 1, 0, 1);
}

@mixin spinnerAnimation {
  @keyframes sh5 {
    0% {
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    }
    33% {
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      width: 120px;
      height: 120px;
    }
    66% {
      background-position: 100% 0, 100% 100%, 0 100%, 0 0;
      width: 120px;
      height: 120px;
    }
    100% {
      background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    }
  }
}
