@use '../../../styles/abstracts';

.bookImagePlaceholder {
  width: 100%;
  aspect-ratio: 5/8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: abstracts.$slate-400;
  font-size: 1.1rem;

  background-color: abstracts.$slate-200;
}
